@use '../../bases/variables' as vb;
@use '../../modules/index' as md;

.contents {
    width: 100%;
    padding: 0 md.vw-sp(28) md.vw-sp(30);

    .contents-pankuzu {
        padding-bottom: md.vw-sp(20);
    }

    .news-contents {

        .news-title {
            padding-bottom: md.vw-sp(20);
        }

        .news-img {
            width: 100%;
            padding-bottom: md.vw-sp(30);
        }
    }

    .contents-pagelink {
        width: 100%;
        padding: md.vw-sp(60) 0 md.vw-sp(40);

        .imglist-pagelink-ul {
            display: flex;
            justify-content: center;
            gap: md.vw-sp(29);
        }
    }
}

/*---PC-Layout---*/
@include md.rps-sw(pc) {
    .contents {
        padding: md.vw-pc(30) md.vw-pc(120) md.vw-pc(120);
    
        .contents-pankuzu {
            padding-bottom: md.vw-pc(40);
        }
    
        .news-contents {
            .news-date {
                padding-bottom: md.vw-pc(30);
            }

            .news-title {
                padding-bottom: md.vw-pc(48);
            }
    
            .news-img {
                padding-bottom: md.vw-pc(63);
            }
        }
    
        .contents-pagelink {
            padding: md.vw-pc(100) 0 md.vw-pc(0);
    
            .imglist-pagelink-ul {
                gap: md.vw-pc(50);
            }
        }
    }
}

/*---font---*/
.contents-pankuzu {
    @include md.fontset(md.vw-sp(12), 700, md.vw-sp(20), 0.04em);
}

.news-date {
    @include md.fontset(md.vw-sp(12), 600, md.vw-sp(50), 0.04em);
  }
  
.news-title {
font-family: vb.$sub-font1;
@include md.fontset(md.vw-sp(16), 700, md.vw-sp(20), 0.08em);
}

.news-text {
font-family: vb.$sub-font1;
@include md.fontset(md.vw-sp(12), 400, md.vw-sp(24), 0.08em);
}

.imglist-pagelink-ul {
    font-family: vb.$sub-font1;
    @include md.fontset(md.vw-sp(14), 700, md.vw-sp(19), 0em);
}
  
@include md.rps-sw(pc) {
    .contents-pankuzu {
        @include md.fontset(md.vw-pc(16), 700, md.vw-pc(19), 0.04em);
    }

    .news-date {
        @include md.fontset(md.vw-pc(14), 600, md.vw-pc(50), 0.04em);
    }
      
    .news-title {
        @include md.fontset(md.vw-pc(16), 700, md.vw-pc(20), 0.08em);
    }
    
    .news-text {
        @include md.fontset(md.vw-pc(14), 400, md.vw-pc(24), 0.08em);
    }

    .imglist-pagelink-ul {
        font-family: vb.$sub-font1;
        @include md.fontset(md.vw-pc(20), 700, md.vw-pc(27), 0em);
    }
}