@use '../bases/variables' as vb;
@use '../modules/index' as md;

/*
===============
Google-Font
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*
===============
Base
===============
*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: vb.$main-font;
  color: vb.$black-color;
  margin: 0;
  padding: 0;
}

/*
===============
Link-hover
===============
*/
a {
  cursor:pointer;
}

.point {
  cursor:pointer;
}

/*
===============
Color-Set
===============
*/
.orange-white-cv {
  background-color: vb.$orange-color;
  color: vb.$white-color;
}

.orange-black-cv {
  background-color: vb.$orange-color;
  color: vb.$black-color;
}

.green-white-cv {
  background-color: vb.$green-color;
  color: vb.$white-color;
}

.green-black-cv {
  background-color: vb.$green-color;
  color: vb.$black-color;
}

.brown-white-cv {
  background-color: vb.$brown-color;
  color: vb.$white-color;
}

.beige-black-cv {
  background-color: vb.$beige-color;
  color: vb.$black-color;
}

.white-orange-cv {
  background-color: vb.$white-color;
  color: vb.$orange-color;
}

.white-black-cv {
  background-color: vb.$white-color;
  color: vb.$black-color;
}

.orange-text {
  color: vb.$orange-color;
}

.green-text {
  color: vb.$green-color;
}

.white-text {
  color: vb.$white-color;
}

.black-text {
  color: vb.$black-color;
}

.brown-text {
  color: vb.$brown-color;
}

/*
===============
Common-layout
===============
*/
.viewmore-text {
  width: md.vw-sp(210);
  margin: 0 auto;
  padding-bottom: md.vw-sp(6);
  border-bottom: 6px solid vb.$orange-color;
  text-align: left;

  .side_arrow {
    display: block;
    border-top: 2px solid vb.$black-color;
    border-right: 2px solid vb.$black-color;
    transform: rotate(45deg);
    width: md.vw-sp(10);
    height: md.vw-sp(10);
    float: right;
    margin-top: md.vw-sp(10);
    margin-right: md.vw-sp(5);
  }
}

@include md.rps-sw(pc) {
  .viewmore-text {
    width: md.vw-pc(210);
    padding-bottom: md.vw-pc(0);
    padding-top: md.vw-pc(12);
  border-bottom: initial;

    .side_arrow {
      width: md.vw-pc(10);
      height: md.vw-pc(10);
      margin-top: md.vw-pc(7);
      margin-right: md.vw-pc(5);
    }
  }

  .bd-bottom {
    display: block;
    width: 0;
    height: md.vw-pc(3);
    background-color: vb.$orange-color;
  }
}

/*
===============
Opening-Animation
===============
*/
.c-loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: vb.$orange-color;
  z-index: 100;
  display: grid;
  place-items: center;
  pointer-events: none;

  .op-title {
    position: absolute;
    top: 42%;
    left: 20%;
  }

  .c-loader-dot {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    pointer-events: none;

    span {
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: vb.$white-color;
    }

    span + span {
      margin-left: 3rem;
    }
  }
}

/* テキスト */
.l-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

@include md.rps-sw(pc) {
  .c-loader-bg {
  
    .op-title {
      top: 40%;
      left: 42%;
    }
  
    .c-loader-dot {
  
      span {
        display: block;
        width: 30px;
        height: 30px;
      }
    }
  }
  
  /* テキスト */
  .l-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}



/*
===============
Font-Set
===============
*/

/*---Common---*/
.op-title {
  @include md.fontset(md.vw-sp(30), 700, md.vw-sp(30), 0.06em);
}

.js-mv_title-item {
  @include md.fontset(md.vw-sp(35), 700, md.vw-sp(70), 0.06em);
}

.section-title {
  @include md.fontset(md.vw-sp(45), 700, md.vw-sp(55), 0.06em);
}

.viewmore-text {
  @include md.fontset(md.vw-sp(20), 700, md.vw-sp(24), 0.04em);
}

@include md.rps-sw(pc) {
  .op-title {
    @include md.fontset(md.vw-pc(30), 700, md.vw-pc(30), 0.06em);
  }

  .js-mv_title-item {
    @include md.fontset(md.vw-pc(60), 700, md.vw-pc(30), 0.06em);
  }

  .section-title {
    @include md.fontset(md.vw-pc(60), 700, md.vw-pc(73), 0.06em);
  }

  .viewmore-text {
    @include md.fontset(md.vw-pc(20), 700, md.vw-pc(24), 0.04em);
  }
}